In [1]:
def mySum(a,b):
    return a + b

In [3]:
mySum(12,14)

26

In [4]:
def myMult(a,b):
    return a * b

In [6]:
myMult(5,10)

50

In [8]:
def myCal(a,b):
    mult = a * b
    msum = a + b
    return mult,msum

In [11]:
mymult,mysum = myCal(5,5)

In [13]:
mymult

25

In [16]:
mysum

10

In [18]:
def checkEvenNumber(a):
    if a % 2 == 0:
        return True
    return False

In [21]:
checkEvenNumber(3)

False

In [35]:
def myCode(num1,num2):
    checkNumb = checkEvenNumber(num1)
    
    if checkNumb:
        res = mymult(num1,num2)
    else:
        res = mysum(num1,num2)
    return result

In [56]:
myCode(5,5)

TypeError: 'int' object is not callable

In [75]:
value = 0

def jackFunc():
    global value
    value += 2
    
def jillFunc():
    global value
    value -= 1

In [72]:
i=0
while i < 10:
    jackfunc()
    i += 1

In [86]:
value

0

In [64]:
value = 0 

def jackFunc(value):
    value += 2
    return value
    
def jillFunc(value):
    value -= 1
    return value

In [67]:
i = 0
while i < 10:
    value = jillFunc(value)
    i += 1

In [87]:
value

0

In [88]:
def checkIfWord(word, checkalpha):
    for ch in word:
        if ch in checkalpha:
            return True
        return False

In [90]:
def printTimes(word, times):
    for t in range(times):
        print(word)

In [93]:
checkIfWord("Rushi","aeiou")

False

In [96]:
def myCheckCode(word, checkalpha, times):
    check = checkIfWord(word, checkalpha)
    if check:
        print(word)
    else:
        printTimes(word, times)

In [100]:
myCheckCode('hello','helo',3)

hello

In [131]:
def printMyDetail(name= 'Rushi', age= 22, location= 'banglore'):
    print (name,age,location)

In [134]:
printMyDetail(name,age ,location)

SyntaxError: positional argument follows keyword argument (<ipython-input-134-2e7f5859c237>, line 1)

In [128]:
def printMyDetail(name, age= 20, location= 'banglore'):
    print(age, name)

In [135]:
printMyDetail(name= 'Rushi', age = 22)

Rushi 22 banglore

In [138]:
def myVariSum(*args):
    result = 0
    for value in args:
        result = result + value
    return result

In [140]:
myVariSum(10,20)

30

In [142]:
def myVariSum(*args):
    return sum(args)

In [144]:
myVariSum(20,30)

50

In [145]:
l = ['Banglore','Rushi',22]

In [146]:
def myDetail(loc,name,age):
    print(loc,name,age)

In [149]:
myDetail(*l)

Banglore Rushi 22

In [150]:
def myFunc(name, loc, age):
    if name == 'abc':
        print (name)
    else:
        print (loc,age)

In [152]:
myFunc(loc='mumbai',age=10,name='abc')

abc

In [153]:
def myFunc(**kwargs):
    if kwargs['name'] == 'abc':
        print (kwargs['name'])
    else:
        print (kwargs['loc'], kwargs['age'])
    
    if 'name' in kwargs:
        print (kwargs['name'])

In [155]:
myFunc(loc='mumbai',age=10,name='xyz')

mumbai 10
xyz

In [157]:
def myMultFunc(*nums):
    res = 1
    for num in nums:
        if num %2 == 0:
            res *= num
    return res

In [159]:
myMultFunc(10,20,22,24,54,23,9)

5702400

In [160]:
def evenWordsCollector (*args):
    l = []
    for value in args:
        if ifWordEven(value):
            l.append(value)
    res = " ".join(l)
    return res

In [161]:
def ifWordEven (value):
    if len(value) % 2 == 0:
        return True
    else:
        return False

In [162]:
evenWordsCollector ("abcd","efghi")

'abcd'

In [165]:
ifWordEven('army')

True

In [166]:
def createEmpData (list_emp, **kwargs):
    list_emp.append(kwargs)

In [167]:
list_emp = []
createEmpData (list_emp, name = 'xyz',age = 22, location = 'banglore')

In [168]:
list_emp

[{'name': 'xyz', 'age': 22, 'location': 'banglore'}]

In [169]:
createEmpData (list_emp, name = 'xyz',age = 22, salary = 50000)
createEmpData (list_emp, name = 'xyz',age = 22, salary = 100000)
createEmpData (list_emp, name = 'xyz',age = 22, salary = 150000)

In [170]:
def getEmpSalary (list_emp, salary = 50000):
    l =[]
    for emp in list_emp:
        if 'salary' in emp:
            if emp['salary'] >= salary:
                l.append(emp)
        return l

In [174]:
getEmpSalary(list_emp,50000)

[]

In [175]:
def studentMarks (list_stu, **kwargs):
    list_stu.append(kwargs)

In [176]:
list_stu = []
studentMarks (list_stu, name = 'abc', math = 50, sci = 70, eng = 60)
studentMarks (list_stu, name = 'def', math = 60, sci = 40, eng = 80)
studentMarks (list_stu, name = 'hij', math = 75, sci = 55, eng = 60)
studentMarks (list_stu, name = 'xyz', math = 90, sci = 80, eng = 90)
print(list_stu)

[{'name': 'abc', 'math': 50, 'sci': 70, 'eng': 60}, {'name': 'def', 'math': 60, 'sci': 40, 'eng': 80}, {'name': 'hij', 'math': 75, 'sci': 55, 'eng': 60}, {'name': 'xyz', 'math': 90, 'sci': 80, 'eng': 90}]

In [181]:
def getTopper(list_stu):
    for student in list_stu:
        total_marks = 0
        count = 0
        for K,v in student.items():
            if K != 'name':
                total_marks += v
                count += 1
            student['avg'] = total_marks/count

In [182]:
getTopper(list_stu)

ZeroDivisionError: division by zero